<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.InvestEZ"
        tools:targetApi="31">
        <activity
            android:name=".QuickInvestmentViewPage"
            android:exported="false" />
        <activity
            android:name=".QuickInvesmentsListView"
            android:exported="false" />
        <activity
            android:name=".QuickInvesments"
            android:exported="false" />
        <activity
            android:name=".StockActivity"
            android:exported="false" />
        <activity
            android:name=".goldListActivity"
            android:exported="false" />
        <activity
            android:name=".FixedDepositListView"
            android:exported="false" />
        <activity
            android:name=".FixedProfitActivity"
            android:exported="false" />
        <activity
            android:name=".FixedDeposite"
            android:exported="false" />

        <activity
            android:name=".RealStateActivity"
            android:exported="false" />
        <activity
            android:name=".GoldMainPage"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".RegistrationPage"
            android:exported="true" />
        <activity
            android:name=".WelcomePage"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginPage"
            android:exported="true">

        </activity>
        <activity
            android:name=".ViewPortfoliosActivity"
            android:exported="true" />
        <activity
            android:name=".SavedLayoutsActivity"
            android:exported="true" />
        <activity
            android:name=".PortfolioActivity"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".ContactpageActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".MainActivity2" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>